﻿@model Wiizi.Core.Models.Product

@{
    ViewBag.Title = Model.Descricao;
}
<h2>@Html.DisplayFor(model=>model.Descricao)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso_Liquido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso_Liquido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="col-md-12 clearfix"></div>
