﻿.custab {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2%;
    box-shadow: 3px 3px 2px #ccc;
}

.cusrow {
    align-content:space-evenly;
}

    /*.custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }*/
